.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
m4
missing
stamp-h1
*.o

smartctl
smartctl.8
smartd
smartd.8
smartd.conf.5
smartd_warning.sh
svnversion.h
update-smart-drivedb
update-smart-drivedb.8
